{% extends "productos/productos.html" %} 
{% load static %}
{% block navbar %}
    {% include 'components/navbar-simple_inicio.html' %}
{% endblock navbar %} 

{% block script %}
{% endblock script %} 

{% block producto %}

<div class="product-form">
	<h2 class="product-form__title">Crear Producto</h2>

	<form action="" method="post" class="product-form__container" enctype="multipart/form-data">
		{% csrf_token %}

		<!-- Nombre, unidad, precio, pago, método -->
		<div class="product-form__row">
			<label class="product-form__label"
				>Nombre del producto
				<input class="product-form__input" name="nombre_producto" placeholder="Ingrese nombre del producto" value="{{ form.nombre_producto.value|default:'' }}" required/>
			</label>

			<label class="product-form__label">Unidad de medida
				<select class="product-form__select product-form__select--unit" name="unidad_medida" value="{{ form.unidad_medida.value|default:'' }}" required>
					{% for unidad, label in form.unidad_medida.field.choices %}
						<option value="{{ unidad }}">{{ label }}</option>
					{% endfor %}
				</select>
			</label>

			<label class="product-form__label">Precio X unidad
				<input class="product-form__input" name="precio" placeholder="Ingrese el precio" required/>
			</label>

			<label class="product-form__label"
				>{{ form.stock.label }}
				<input type="number" class="product-form__input" name="stock" placeholder="Ingrese el stock" value="{{ form.stock.value }}" required/>
			</label>
			
		</div>

		<!-- Descripción -->
		<label class="product-form__label" >Descripción del Producto
			<textarea class="product-form__textarea" name="descripcion" placeholder="Ingrese la descripción" required>
				{{ form.descripcion.value|default:'' }}</textarea>
		</label>

		<div class="product-form__row product-form__row--checkbox">
			<span class="product-form__label"><strong>Tipo de Producto:</strong></span>
				{% for categoria, label in form.categoria.field.choices %}
				<label>									
					<input type="radio"	name="categoria" value="{{ categoria }}" {%	if form.categoria.value == "" %} checked {% endif %}	
					required/>{{ label }}
				</label>
				{% endfor %}
		</div>

		<div class="product-form__dates">
			<h3 class="product-form__dates-title">Caducidad</h3>

			<label class="product-form__label--checkbox"
				>{{ form.caducidad.label }}
				<input
					type="checkbox"
					name="caducidad"
					id="caducidad-checkbox"
					{%
					if
					form.activo.value
					%}
					checked
					{%
					endif
					%}
				/>
			</label>

			<div>
				<p class="product-form__label">Fecha de Elaboración</p>
				<input
					type="date"
					class="product-form__dates-input"
					name="fecha_elaboracion"
					value="{{ form.fecha_elaboracion.value|date:'Y-m-d' }}"
				/>
			</div>

			<div>
				<p class="product-form__label">Fecha de Vencimiento</p>
				<input
					type="date"
					class="product-form__dates-input"
					name="fecha_vencimiento"
					value="{{ form.fecha_vencimineto.value|date:'Y-m-d' }}"
				/>
			</div>
		</div>

		<div class="product-form__image">
			<label class="product-form__image-upload">
				<span>Imagen del producto</span>
				<div class="product-form__image-preview">
					<input type="file" name="imagen_producto"/>
				</div>
			</label>
		</div>

		<!-- Botones -->
		<div class="buttons">
			
			<button type="submit" class="buttons__action--secondary" name="accion" value="cancelar">
				Cancelar
			</button>
			
			
			<button type="submit" class="buttons__action--terciary" name="accion" value="vista_previa">Vista previa
			</button>
			
		</div>
	</form>

	<!-- Botones -->
</div>

{% endblock producto %}
