{% extends "productos/productos.html" %}

{% load static %}

{% block navbar %}

{% include 'components/navbar-simple_inicio.html' %}

{% endblock navbar %}

{% block script %}

{% endblock script %}

{% block producto %}
<h2>Vista previa</h2>

<div class="product-preview">
    <div class="card-section__product">
        {% include 'components/card-producto.html' %}
    </div>
    <div class="details">
        {% include 'components/detalle-producto.html' %}
    </div>
</div>

<div class="buttons">
    <form method="POST" id="form-cancel_preview" action="{% url 'cancelar_producto' producto.id %}">
        {% csrf_token %}
        <button type="button" class="buttons__action--primary btn-cancel btn-confirmar" 
                data-form="form-cancel_preview" 
                data-titulo="¿Salir?" 
                data-mensaje="Se perderán los cambios.">Cancela y salir
        </button> 
        
    </form>

    <a href="'{% url 'volver_crear' producto.id %}'"></a>

    <button type="button" class="buttons__action--terciary">Volver a editar</button>

    <form method="POST"  id="form-product__create" action="{% url 'guardar_producto' producto.id %}">
        {% csrf_token %}
        <button type="button" class="buttons__action--primary btn-save btn-confirmar" 
                data-form="form-product__create" 
                data-titulo="💾 Guardar" 
                data-mensaje="¿Deseas guardar el producto?">Guardar cambios
        </button>  
    </form>
</div>


{% endblock producto %}