{% extends "productos/productos.html" %}
{% load humanize %}
{% load static %}

{% block navbar %}
{% include 'components/navbar-simple.html' %}
{% endblock navbar %}

{% block producto %}

<div class="product-form">

	<div class="product-form__header">
		<h2 class="product-form__title">Editar Producto</h2>
		<p class="product-form__subtitle">
			Modifique la información del producto.
		</p>
	</div>

	<form method="post" id="form-edit__product" class="product-form__container">
		{% csrf_token %}

		<!-- FILA 1 -->
		<div class="product-form__row">
			<label class="product-form__label">
				*Nombre
				<input 
					class="product-form__input"
					name="nombre_producto"
					value="{{ form.instance.nombre_producto }}"
					required>
			</label>

			<label class="product-form__label product-form__image">
                *Imagen del producto
                <input
                    type="file"
                    class="product-form__image-upload"
                    name="imagen_producto"
                    accept="image/*">

                {% if form.instance.imagen_producto %}
                    <div class="product-form__image-preview">
                        <img src="{{ form.instance.imagen_producto.url }}" alt="Imagen del producto">
                    </div>
                {% endif %}
            </label>

		</div>

		<!-- FILA 2 -->
		<div class="product-form__row">
			<label class="product-form__label">
				*Precio por unidad
				<input 
					type="number"
					class="product-form__input solo-numeros"
					name="precio"
					placeholder="Ingrese el precio"
					value="{{ form.instance.precio|default_if_none:''|floatformat:0 }}"
					min="1"
					step="1"
					required>
			</label>
			
			<label class="product-form__label">
				*Cantidad disponible
				<input 
					type="number"
					class="product-form__input solo-numeros"
					name="stock"
					placeholder="0"
					value="{{ form.instance.stock|default_if_none:'' }}"
					min="1"
					step="1"
					required>
			</label>	
		</div>

		<!-- FILA 3 -->

		<div class="product-form__row">
			<label class="product-form__label">
				*Categoría
				<select class="product-form__select" name="categoria" id="id_categoria" required>
					{% for categoria, label in form.categoria.field.choices %}
					<option value="{{ categoria }}" {% if categoria == form.instance.categoria %}selected{% endif %}>
						{{ label }}
					</option>
					{% endfor %}
				</select>
			</label>

			<label class="product-form__label">
				*Unidad de medida
				<select class="product-form__select" name="unidad_medida" id="id_unidad_medida" required>
					{% for unidad, label in form.unidad_medida.field.choices %}
					<option value="{{ unidad }}" {% if unidad == form.instance.unidad_medida %}selected{% endif %}>
						{{ label }}
					</option>
					{% endfor %}
				</select>
			</label>
					
		</div>		

		<!-- DESCRIPCIÓN -->
		<div class="product-form__row product-form__row--full">
			<label class="product-form__label">
				Descripción
				<textarea 
					class="product-form__textarea"
					name="descripcion"
					required>{{ form.instance.descripcion }}</textarea>
			</label>
		</div>

		<!-- BOTONES -->
		<div class="product-form__actions">

			<button
				type="submit"
				class="buttons__action--terciary btn-cancel btn-confirmar"
				data-url="{% url 'mis_productos' %}"
				data-titulo="Cancelar edición"
				data-mensaje="Se perderán los cambios realizados.">
				Cancelar
			</button>

			<button
				type="submit"
				class="buttons__action--secondary"
				name="accion"
				value="vista_previa">
				Vista previa
			</button>

			<button
				type="submit"
				name="accion"
				value="guardar"
				class="buttons__action--primary btn-save btn-confirmar"
				data-form="form-edit__product"
				data-titulo="Guardar cambios"
				data-mensaje="¿Desea guardar los cambios realizados?">
				Guardar
			</button>

		</div>

	</form>

</div>

{% endblock producto %}