{% extends "productos/productos.html" %}

{% load static %}

{% block navbar %}
{% include 'components/navbar-simple_inicio.html' %}
{% endblock navbar %}

{% block script %}
<script src="{% static 'js/modal_actualizar_img.js' %}" defer></script>
{% endblock script %}

{% block producto %}

<div class="user-list">
  <h2 class="user-list__title">Lista de mis productos</h2>

  <table class="user-list__table">
    <thead class="user-list__table-head">
      <tr class="user-list__row user-list__row--head">
        <th class="user-list__cell">ID</th>
        <th class="user-list__cell">Imagen</th>
        <th class="user-list__cell">Nombre</th>
        <th class="user-list__cell">Und Medida</th>
        <th class="user-list__cell">Precio</th>
        <th class="user-list__cell">Stock</th>
        <th colspan="3" class="user-list__cell">Acciones</th>
      </tr>
    </thead>

    <tbody class="user-list__table-body" id="user-table-body">
      {% for producto in productos %}
      <tr class="user-list__row">

        <td class="user-list__cell" data-label="Id Producto">
          PDV-{{ producto.id }}
        </td>

        <td class="user-list__cell" data-label="Imagen">
          <img 
            src="{% if producto.imagen_producto %}{{ producto.imagen_producto.url }}{% else %}{% static 'img/products/sin_foto_2.jpg' %}{% endif %}" 
            alt="{{ producto.nombre_producto }}" 
            class="user-list__image">
        </td>

        <td class="user-list__cell" data-label="Nombre">
          {{ producto.nombre_producto }}
        </td>

        <td class="user-list__cell" data-label="Und Medida">
          {{ producto.unidad_medida }}
        </td>

        <td class="user-list__cell" data-label="Precio">
          ${{ producto.precio|floatformat:2 }}
        </td>

        <td class="user-list__cell" data-label="Stock">
          {{ producto.stock }}
        </td>

        <!-- Activar / Desactivar -->
        <td class="user-list__cell" data-label="Acciones">
          <form method="post" action="{% url 'accion_producto' producto.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">

            {% if producto.activo %}
              <button type="submit" class="user-list__action-btn user-list__action-btn--disable">
                Deshabilitar
              </button>
            {% else %}
              <button type="submit" class="user-list__action-btn user-list__action-btn--enable">
                Habilitar
              </button>
            {% endif %}
          </form>
        </td>

        <!-- Editar -->
        <td class="user-list__cell">
          <a href="{% url 'editar_producto' producto.id %}?next={{ request.path }}">
            <button type="button" class="user-list__action-btn user-list__action-btn--edit">
              Editar
            </button>
          </a>
        </td>

        <!-- Cambiar Imagen -->
        <td class="user-list__cell">
          <button 
            type="button" 
            class="user-list__action-btn user-list__action-btn--img"
            data-id="{{ producto.id }}"
            data-imagen="{% if producto.imagen_producto %}{{ producto.imagen_producto.url }}{% else %}{% static 'img/products/sin_foto_2.jpg' %}{% endif %}">
            Cambiar imagen
          </button>
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="9" class="user-list__cell">
          No hay productos disponibles.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- MODAL -->
<div id="modalImagen" class="modal-actualizar">

  <div class="modal-actualizar__card">

    <form 
      id="form-product__img"
      class="modal-actualizar__form" 
      method="POST" 
      enctype="multipart/form-data"
      action="{% url 'actualizar_img' %}">

      {% csrf_token %}

      <input 
        class="modal-actualizar__input" 
        type="hidden" 
        name="producto_id" 
        id="producto_id"
      >

      <h3>Cambiar imagen</h3>

      <img 
        class="modal-actualizar__img-preview" 
        id="previewImagen"
      >

      <input 
        class="modal-actualizar__input" 
        type="file" 
        name="imagen"
      >

      <h3>¿Desea cambiar la imagen?</h3>

      <div class="modal-actualizar__button-box">
        <button 
          class="modal-actualizar__button modal-button-cerrar" 
          type="button" 
          id="cerrarModal">
          Cancelar
        </button>

        <button 
          type="button" 
          class="buttons__action--primary btn-save btn-confirmar" 
          data-form="form-product__img" 
          data-titulo="Cambiar imagen" 
          data-mensaje="¿Desea cambiar la imagen">
          Cambiar
        </button>       
      </div>

    </form>
  </div>
</div>

{% endblock producto %}