<!-- Permite crear o editar el producto -->

<!-- Herencia de la plantilla base -->
{% extends "carrito/ver_carrito" %}

<!-- Inicio del bloque de contenido -->
{% block carrito %}
<!-- contenedor -->
<div class="container-pago">

	<!-- card -->
    <div class="card-pago">
    	<!-- mensaje del pago realizado -->
        <h2 class="texto-pago">¡Pago realizado con éxito!</h2>
        <!-- mensaje -->
        <p>Tu pedido ha sido procesado correctamente.</p>
        <!-- Crea el botón para volver a la lista de productos -->
        <a href="{% url 'ver_productos' %}" class="btn-volver">
            Volver a la tienda
        </a>

    </div>

</div>

{% endblock carrito %}