{% comment %} Permite crear o editar el producto 
Herencia de la plantilla base {% endcomment %}
{% extends "carrito/ver_carrito" %}
{% comment %} Inicio del bloque de contenido {% endcomment %}
{% block carrito %}
{% comment %} contenedor {% endcomment %}
<div class="container-pago">
	{% comment %} card {% endcomment %}
    <div class="card-pago">
    	{% comment %} mensaje del pago realizado {% endcomment %}
        <h2 class="texto-pago">¡Pago realizado con éxito!</h2>
        {% comment %} mensaje {% endcomment %}
        <p>Su pedido ha sido procesado correctamente.</p>
        {% comment %} Crea el botón para volver a la lista de productos {% endcomment %}
        <a href="{% url 'ver_productos' %}" class="btn-volver">
            Volver
        </a>
    </div>
</div>
{% endblock carrito %}