<!-- pago del pedido -->

<!-- Herencia de la plantilla base -->
{% extends "carrito/ver_carrito.html" %}

{% load humanize %}
{% load static %}

<!-- Inicio del bloque de contenido -->
{% block carrito %}
<!-- contenedor -->
<div class="container-compra">
    <!-- titulo de la pagina -->
    <h2 class="compra_titulo">Finalizar Compra</h2>
    <!-- metodo post para enviar a la vista de procesa_pago -->
    <form method="POST" action="{% url 'procesar_pago' %}" id="form-carrito__pagar" class="compra-form">
        <!-- Token de seguridad -->
        {% csrf_token %}
        <!-- genera las columnas -->
        <div class="card-compra_union">

                <div class="card-compra">
                    
                    <div class="card-compra_header">
                        <!-- información del cliente -->
                        <strong>Información del Cliente</strong>
                    </div>

                    <div class="card-compra_body">
                        <!-- request.user carga la información del usuario logueado -->
                        <p><strong>Nombre:</strong> {{ request.user.first_name }}</p>
                        <p><strong>Apellido:</strong> {{ request.user.last_name }}</p>
                        <p><strong>Correo:</strong> {{ request.user.email }}</p>
                        <!-- si el usuario tiene direccion registrada la muestra sino muestra el texto no registrada -->
                        <p><strong>Dirección:</strong> 
                            {% if perfil.direccion_residencia %}
                                {{ perfil.direccion_residencia }}
                            {% else %}
                                No registrada
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- car del metodo de pago -->
                <div class="card-compra">
                    <div class="card-compra_header">
                        <strong>Método de Pago</strong>
                    </div>

                    <div class="card-compra_body">

                        <div class="form-compra_check">
                            <!-- opciones de los métodos de pago. solo se puede elegir uno -->
                            <input class="form-compra_input" type="radio" name="metodo_pago" value="tarjeta" checked>
                            <label class="form-compra_label">
                                Tarjeta de Crédito
                            </label>
                        </div>

                        <div class="form-compra_check ">
                            <input class="form-compra_input" type="radio" name="metodo_pago" value="transferencia">
                            <label class="form-compra_label">
                                Transferencia Bancaria
                            </label>
                        </div>

                        <div class="form-compra_check">
                            <input class="form-compra_input" type="radio" name="metodo_pago" value="contraentrega">
                            <label class="form-compra_label">
                                Pago Contra Entrega
                            </label>
                        </div>

                    </div>
                </div>
                </div>

                <div class="card-recibo">
                    <div class="card-compra recibo">
                    <div class="card-compra_header">
                        <strong>Resumen del Pedido</strong>
                    </div>

                    <div class="card-compra_body">
                        <!-- ciclo para mostrar por cada producto el nombre, cantidad y subtotal -->
                        {% for item in items %}
                            <div class="card-compra_item">
                                <div class="card-compra_item-valor">
                                    <strong>{{ item.producto.nombre_producto }}</strong> 
                                    
                                    <small class="text-compra">
                                        Cantidad: {{ item.cantidad }}
                                    </small>
                                    {% if item.producto.imagen_producto %}
                                    <img class="compra-card_image" src="{{ item.producto.imagen_producto.url }}" alt="Foto de producto"/>
                                        {% else %}
                                    <img class="compra-card_image" src="{% static 'img/products/sin_foto_2.jpg' %}" alt="Foto de producto"/>
                                    {% endif %}
                                </div>
                                <div class="compra-subtotal">
                                    ${{ item.subtotal|floatformat:0|intcomma }}
                                </div>
                            </div>
                            
                        {% endfor %}

                        <!-- total del carrito -->
                        <div class="card-compra_item">
                            <strong>Total:</strong>
                            <strong class="text-compra">${{ total|floatformat:0|intcomma }}</strong>
                        </div>

                        <!-- botón finalizar y pagar -->
                        <!-- Una vez se da clic va a la vista procesar_pago -->
                        <div class="compra-button">
                            <button type="button" class="buttons__action--primary btn-cancel btn-confirmar"
                                data-form="form-carrito__pagar" 
                                data-titulo="Realizar pago" 
                                data-mensaje="¿Desea finalizar la compra?"> Finalizar y Pagar
                            </button>
                          
                        </div>

                    </div>
                </div>
                </div>


            

        </div>

    </form>

</div>

{% endblock carrito %}