.profile__container {
    width: 100%;
    height: auto;
    background: var(--gray-50);
    font-family: var(--main-font, sans-serif);
}

.profile__hero {
    position: relative;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    background: url(../../img/interfaz_vanagro/cielo.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.profile__legend {
    text-align: center;
    color: var(--black);
    padding: 16px;
    border-radius: 1rem;
    max-width: 90%;
}

.profile__role {
    font-size: var(--fs-sm);
    font-weight: bold;
    margin: 1;
}

.profile__message {
    font-size: var(--fs-xs);
    font-weight: 600;
    margin: 0.5rem 0 0;
}

/* === CONTENIDO PRINCIPAL (dos columnas) === */
.profile__content {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 2rem;
    padding: 24px;
}

.profile__info {
    flex: 1;
    background: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 3px 3px var(--gray-500);
}


.profile__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-950);
    border-radius: 100%;
    /* margin-bottom: 1rem; */
}

.profile__name {
    font-size: var(--fs-sm);
    font-weight: bold;
    margin: 0.5rem 0;
}

.profile__joined {
    font-size: var(--fs-xs);
    color: var(--gray-700);
    margin-bottom: 1rem;
}

.profile__detail {
    font-size: var(--fs-xs);
    margin: 1.25rem 0;
}

.profile__actions {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.profile__link {
    text-decoration: none;
}

.profile__action {
    box-shadow: 0 1px 4px var(--black);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
    height: 52px;
    width: 320px;
    background: var(--gray-200);
    border: none;
    padding: 16px;
    border-radius: 0.5rem;
    font-size: var(--fs-xs);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}


.profile__action:hover {
    background: var(--primary-500);
    color: var(--black);
}


.profile__action ion-icon {
    font-size: var(--fs-sm);
}


.profile__report {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s;
    gap: 16px;
}


.profile__report:target {
    visibility: visible;
    /* opacity: 1;  */
}


.profile__report--phpto-head {
    display: flex;
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-start; */
    flex-direction: column-reverse;
    /* justify-content: space-between;
    align-items: center; */
}


.profile__report--close{
    display: flex;
    justify-content: baseline;
}


.profile__report--close ion-icon {
    font-size: var(--fs-lg);
    cursor: pointer;
}


.profile__report--photo {    
    border-radius: 5px;
    object-fit: cover;
    border: 2px solid var(--primary-950);
    /* border-radius: 100%; */
    padding: 0 16px;
    background-color: var(--gray-100);
    padding-bottom: 16px;
}

.profile__report--img {
    width: 100%;
    height: auto;  
}


.profile__buttons {
    display: flex;    
    padding: 16px;
    justify-content: space-around;
}


@media (min-width: 768px) {  
    .profile__content {
        flex: 1;
        flex-direction: row;
        /* align-items: stretch; */
        min-height: 60vh;
    }
}


@media (max-width: 768px) {

    .profile__actions {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}