.popup__title--warning {
  font-family: var(--main-font);
  font-size: var(--fs-sm);
}


.popup__message--warning {
  font-family: var(--main-font);
  font-size: var(--fs-xs);
}


.popup__time--warning {
  font-family: var(--main-font);
  font-size: var(--fs-xxxs);
}


.popup--warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 280px;
  display: none;
  animation: fadeInOut 4s forwards;
  z-index: 9999;
}


.popup__header--warning {
  background: var(--secundary-950);
  padding: 20px;
  border-radius: 4px 4px 0 0;
}


.popup__icon--warning {
  font-size: var(--fs-xxxl);
  color: var(--white);
}


.popup__body--warning {
  padding: 15px;
  color: var(--black);
}


@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -60%); }
  10%, 90% { opacity: 1; transform: translate(-50%, -50%); }
  100% { opacity: 0; transform: translate(-50%, -40%); }
}
