.popup__title {
  font-family: var(--main-font);
  font-size: var(--fs-sm);
}


.popup__message {
  font-family: var(--main-font);
  font-size: var(--fs-xs);
}


.popup__time {
  font-family: var(--main-font);
  font-size: var(--fs-xxxs);
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 280px;
  display: none;
  animation: fadeInOut 4s forwards;
  z-index: 9999;
}


.popup__header {
  background: var(--primary-800);
  padding: 20px;
  border-radius: 4px 4px 0 0;
}


.popup__icon {
  font-size: var(--fs-xxxl);
  color: var(--white);
}


.popup__body {
  padding: 15px;
  color: var(--black);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9998;
}



@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -60%); }
  10%, 90% { opacity: 1; transform: translate(-50%, -50%); }
  100% { opacity: 0; transform: translate(-50%, -40%); }
}
