.session__login {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.session__left {
    flex: 1;
    position: relative;
    background: url(../../img/interfaz_vanagro/fondo.jpg) no-repeat center center/cover;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    width: auto;
    color: var(--white);
    text-align: center;
}

.session__form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 16px 8px; */
}

.session__subtitle {
    font-size: var(--fs-md);
    padding: 8px;
    margin: 8px;
}

.beginner-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 48px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    background: var(--white);
    height: auto;
    /* gap: 16px; */
    width: auto;
}

.beginner-form__info {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.beginner-form__credential {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 8px;
}

.beginner-form__label {
    font-size: var(--fs-xxxs);
    margin-bottom: 4px;
    color: var(--black);
    text-align: left;
}

.beginner-form__input {
    min-width: 320px;
    padding: 16px;
    height: 48px;
    border-radius: 1rem;
    background-color: var(--white);
}

.begin-lost_password {
    text-decoration: none;
    color: var(--terciary-950);
    font-size: var(--fs-xxs);
    margin: 16px;
}

.begin-lost_password:hover {
    color: var(--terciary-900);
    cursor: pointer;
    font-weight: 600;
}

@media (width > 768px) {

    .session__login {
        flex: 1;
        flex-direction: row;
        min-height: 80vh;
    }

    .session__left {
        clip-path: ellipse(75% 100% at left center);
    }

    .session__info {
        width: 70%;
    }
    
    .beginner-button__links {
        flex-direction: row;       
    }

    /* .beginner-form{
        margin: 24px 0;
    } */

}

@media (width > 1024px) {
    /* .beginner-form {
        margin: 0;
    } */
}