.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 16px;
}

/* Contenedor de 3 botones */
.buttons__edit-producter {
    display: flex;
    justify-content: space-between; /* separa izquierda y derecha */
    align-items: center;
    width: 100%;
    padding: 16px;
}

/* Contenedor de los botones de la derecha */
.buttons__right {
    display: flex;
    gap: 24px;
    align-items: center;
}


.buttons__action {
    border: none;
    border-radius: 0.8rem;
    font-family: var(--main-font);
    font-size: var(--fs-xs);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 64px;
    min-height: 48px;
}

/* Primario */
.buttons__action--primary {
    padding: 0 16px;
    height: 40px;
    background-color: var(--primary-900);
    color: var(--white); 
    border: none;
    border-radius: 4px;
}

.buttons__action--primary:hover {
    background-color: var(--primary-700);
    color: var(--black);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.buttons__action--primary:focus {
    outline: 2px solid var(--primary-500);
    outline-offset: 2px;
}

/* Secundario */
.buttons__action--secondary {
    padding: 0 12px;
    height: 32px;
    background-color: var(--secundary-900);
    color: var(--black);
    border-radius: 4px;
    border: none;
}

.buttons__action--secondary:hover {
    background-color: var(--secundary-700);
    color: var(--gray-800);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.buttons__action--secondary:focus {
    outline: 2px solid var(--secundary-700);
    outline-offset: 2px;
}

/* Terciary */
.buttons__action--terciary {
    padding: 0 12px;
    height: 32px;
    background-color: var(--terciary-900);
    color: var(--white);
    border-radius: 4px;
    border: none;
}

.buttons__action--terciary:hover {
    background-color: var(--terciary-700);
    color: var(--gray-200);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.buttons__action--terciary:focus {
    outline: 2px solid var(--terciary-700);
    outline-offset: 2px;
}



.buttons__action--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--primary-900);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons__action--icon:hover {
    background-color: var(--primary-700);
    color: var(--black);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.buttons__action--icon ion-icon {
    font-size: 22px;
}

/* Responsive */
@media (width > 768px) {
    
    .product-edit__row {
        flex-direction: row;
    }
    .product-edit__actions {
        flex-direction: row;
    }
    .product-edit__dates {
        flex-direction: row;
        justify-content: space-between;
    }

    .buttons{
        /* margin: 0px 20px; */
        flex-direction: row;
        gap: 6rem;
        justify-content: space-around;
    }
}