.card-section__product{    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 24px;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--gray-50);
    overflow-y:auto;
    overflow-x: hidden;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* margin: 16px; */
}

.buttons_cards{
    display:flex;
    gap:16px;
    width:100%;
    max-width:320px;
    margin-top:16px;

}

.card-product__info{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    padding: 16px;

}


/* Card individual */
.card-product {
    /* width: 95%; */
    max-width: 320px;
    width:100%;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    /* padding: 16px; */
    box-shadow: 0 2px 6px var(--primary-500);
    cursor: pointer;
    height: 320px;
    transition:transform 0.3s ease;

}

.card-product:hover{
    transform:scale(1.05);
}


/* Imagen */
.card-product__image {
    /* width: 200px;  */
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}
.card-product__image_1 {
    /* width: 300px;  */
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.card-product__title {
    font-family: var(--main-font);
    font-size: var(--fs-sm);
}

/* Descripción */
.card-product__description {
    font-family: var(--main-font);
    margin: 16px 0;
    font-size: var(--fs-xs); 
    text-align: center;
    color: var(--gray-900);
    width: 100%;
    display:-webkit-box;
    
}



.card-product__title-farm {
    font-family: var(--main-font);
    font-size: var(--fs-xs);
    margin-bottom: 10px;
}

/* Descripción */
.card-product__description-farm {
    font-family: var(--main-font);
    margin: 16px;
    font-size: var(--fs-xs); 
    text-align: center;
    color: var(--gray-900);
    width: 100%;
}

/* Precio en negrilla */
.card-product__price {
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--black);
    font-size: var(--fs-sm); 
}

