.form-register__user {
  place-content: center;
}

/* .form-register__head {
  padding: 16px;
} */

.form-register__title {
  font-size: var(--fs-sm);
  font-weight: bold;
}

.form-register__block {
  background-color: var(--white);
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 0 auto 24px;
  gap: 16px;
  font-size: var(--fs-xs);
}

.form-register__block--form {
  display: flex;
  flex-direction: column-reverse;
}

.form-register__form {
  display: grid;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.form-register__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.form-register__label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  font-size: var(--fs-xxxs);
  color: var(--black);
  width: 100%;
  /* max-width: 356px; */
  box-sizing: border-box;
}

.form-register__input {
  padding: 16px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--black);
  width: 320px;
  font-size: var(--fs-xs);
  box-sizing: border-box;
  line-height: 1.5;
  height: 56px;
}

.form-register__input::placeholder {
  color: var(--gray-800);
  font-size: var(--fs-xs);
}

.form-register__images {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 12px;
}

.form-register__images--img {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  border-radius: 4px;
}

.form-register__file {
  flex: 1;
  padding: 16px;
  border-radius: 4px;
  background-color: var(--white);
  width: 320px;
  font-size: var(--fs-xs);
  box-sizing: border-box;
  line-height: 1.5;
  height: 56px;
}

/* --- TABLET --- */
@media (width > 640px) and (width <= 1024px) {
  .form-register__block--form {
    flex-direction: column; /* imagen arriba */
    align-items: center;
  }

  .form-register__images {
    order: -1; /* asegura que quede arriba */
    padding: 0;
    margin-bottom: 24px;
  }

  .form-register__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* dos columnas */
    gap: 16px;
  }

  .form-register__form {
    width: 90%;
    margin: 0 auto;
  }
}

/* --- CELULAR --- */
@media (width <= 640px) {
  .form-register__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-register__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .form-register__file {
    width: 320px;
    height: 56px;
  }
}

/* --- DESKTOP --- */
@media (width > 1024px) {
  .form-register__actions {
    flex-direction: row;
    justify-content: space-around;
  }

  .form-register__block {
    width: fit-content;
    padding: 24px;
  }

  .form-register__block--form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .form-register__form {
    display: grid;
    align-items: start;
    gap: 24px;
  }

  .form-register__group {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .form-register__file {
    width: 320px;
    height: 56px;
  }
}
