.hero__image {
    background-image: url(/frontend/public/assets/vanagro/vacas.jpg);
    background-position: center;
    background-size: cover;
    height: 20rem;
    position: relative;
    text-align: center;
    color: var(--black);
}

.hero__content {
    background-color: rgb(204 204 204 / 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    font-size: var(--fs-sm);
}

.hero__description {
    font-size: var(--fs-xs);
    font-weight: bold;
}

.hero__options {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    justify-content: center;
    
}

.hero__options--ref{
    text-decoration: none;
    width: 100%;
    
}


@media (width > 768px) {
    
    .hero__options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        /* flex-direction: row; */
        gap: 24px;
        margin: 24px;
    }
}

@media (max-width: 768px) {
    .hero__options {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}





