/* body {
  background-color: var(--gray-50);
  font-family: var(--main-font);
  text-align: center;
} */

.user-list {
  width: 90%;
  margin: 20px auto;
  background: var(--white);
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Título */
.user-list__title {
  font-size: var(--fs-md);
  margin: 0 0 24px 0;
  color: var(--black);
}

/* Tabla */
.user-list__table {
  width: 100%;
  border-collapse: collapse;
}

.user-list__row--head {
  background-color: var(--primary-500);
  color: var(--black);
}

.user-list__cell {
  padding: 12px;
  border: 2px solid var(--gray-100);

}


/* Botones de acción */
.user-list__action-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--fs-xxxs);
}


.user-list__action-btn--enable {
  background-color: var(--primary-950);
  color: var(--white);
}

.user-list__action-btn--disable {
  background-color: var(--secundary-900);
  color: var(--black);
}

.user-list__icon {
  font-size: 22px;
  color: var(--black);
}

.user-list__icon:hover {
  color: var(--primary-950);
}




@media (width < 768px) {
  .user-list__table,
  .user-list__row,
  .user-list__cell {
    /* display: block; */
    width: 100%;
  }

  .user-list__row--head {
    display: none; 
  }

  .user-list {
  max-width: 100%; 
  overflow-x: hidden;  
  
}

.user-list__row {
  min-width: 280px;    
  max-width: 320px;     
  margin: 0 auto 16px; 
  width: 100%;        
 
}


  .user-list__cell {
    border: none;
    text-align: left;
    padding: 8px 0;
    font-size: var(--fs-xxs);
    display: flex;
    justify-content: space-between;
  }

  .user-list__hr{
    display: hidden;
  }

  .user-list__cell::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--gray-700);
    margin-right: 8px;
  }

  .user-list__action-btn {
    width: 100%;      
    margin-top: 8px;
    font-size: var(--fs-xxs);
  }
}


