.confirm-msj__view{  
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;    
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-400);
    transition: all 0.4s;
}

.confirm-msj__container{    
    padding: 20px;
    position: relative;
    width: 300px;
    height: auto;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--gray-400);    
}

.confirm-msj__container h3 {
    display: flex;
    margin:10px;
    padding: 10px;
    font-size: var(--fs-xs);    
    text-align: center;
}

.confirm-msj__actions{
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
}

.confirm-msj__view:target{
    visibility: visible;
    opacity: 0.9; 
}

