.password-change {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s;
}

.password-change:target {
    visibility: visible;
    /* opacity: 1;  */
}


.password-change__group {
    background-color: var(--white);
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.50);
    width: max-content;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    font-size: var(--fs-xs);
    font-family: var(--main-font);
    color: var(--black);
}

.password-change__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: var(--fs-xxxs);
    color: var(--black);
}

.password-change__input {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--black);
    width: 100%;
    font-size: var(--fs-xs);
    font-family: var(--main-font);
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.password-change__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-50);
    padding: 16px 48px;
    /* gap: 2rem; */
}

.password-change__actions {
    margin-bottom: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}