

/* Modal */
.payment-modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

}

.payment-modal.active {
  display: block;
}

.payment-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-modal__content {
  background: var(--white);
  width: 90%;
  max-width: 400px;
  /* margin: 10px; */
  padding: 20px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.payment-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-modal__title {
  margin: 0;
  font-size: var(--fs-xs);
}

.payment-modal__close {
  background: none;
  border: none;
  font-size: var(--fs-md);
  cursor: pointer;
}

.payment-modal__subtitle {
  font-size: var(--fs-xxs);
  color: var(--gray-400);
}

.payment-modal__amount {
  font-weight: bold;
  font-size: var(--fs-sm);
  margin: 10px 0;
}

.payment-modal__options {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.payment-modal__select {
  padding: 6px;
  border-radius: 6px;
  border: 2px solid var(--gray-600);
}


.payment-modal__input {
  width: 100%;
  padding: 16px;
  height: 48px;
  margin: 12px 0;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
}

.payment-modal__step {
  font-size: var(--fs-xs);
  margin: 16px 0 8px;
}

.payment-modal__methods {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;
}

.payment-modal__method {
  padding: 16px;
  height: 48px;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.payment-modal__method:hover {
  background: var(--primary-200);
}

