
.details {
  visibility: hidden;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.4s;
}

/* .details:target{
    visibility: visible;
    /* opacity: 1;  */
/* } */


.details__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-50);
  padding: 16px;
  /* gap: 2rem; */
}

.details__image--img{
    width: 200px;
    height: 200px;
    margin: 16px;
  }


.details__info {
  text-align: left;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.details__title {
  font-size: var(--fs-sm);
  color: var(--gray-950);
  margin-bottom: 1rem;
}

.details__rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.details__rating i {
  color: var(--secundary-950);
  font-size: var(--fs-lg);
}

.details__rating-text {
  font-size: var(--fs-xs);
  color: var(--gray-700);
  margin-left: 0.3rem;
}

.details__price {
  font-size: var(--fs-md);
  color: var(--primary-900);
  font-weight: bold;
  margin-bottom: 1rem;
}

.details__description {
  font-size: var(--fs-xs);
  color: var(--gray-700);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.details__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.details:target{
    visibility: visible;
    /* opacity: 1;  */
}

@media (width > 768px) {

  .details__image--img{
    width: 300px;
    height: 300px;
  }

  .details__block {
    flex-direction: row;
    align-items: center;
  }

  .details__image{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .details__info {
    flex: 1;
    
  }

  .details__actions {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
}