.profile_producter--container {
    width: 100%;
    height: auto;
    background: var(--gray-50);
    font-family: var(--main-font, sans-serif);
}

.profile_producter--hero {
    position: relative;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    background: url(/frontend/public/assets/vanagro/vacas.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.profile_producter--legend {
    text-align: center;
    color: var(--white);
    padding: 16px;
    border-radius: 1rem;
    max-width: 90%;
}

.profile_producter--role {
    font-size: var(--fs-sm);
    font-weight: bold;
    margin: 1;
}

.profile_producter--message {
    font-size: var(--fs-xs);
    font-weight: 600;
    margin: 0.5rem 0 0;
}

/* === CONTENIDO PRINCIPAL (dos columnas) === */
.profile_producter--content {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 2rem;
    padding: 24px;

}

.profile_producter--info {
    flex: 1;
    background: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 3px 3px var(--gray-500);
    position: relative;
}


.profile_producter--edit {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: var(--black);
    cursor: pointer;
}

.profile_producter--edit:hover {
    color: var(--primary-950);
}


.profile_producter--avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-950);
    border-radius: 100%;
    margin-bottom: 1rem;
}

.profile_producter--name {
    font-size: var(--fs-sm);
    font-weight: bold;
    margin: 0.5rem 0;
}

.profile_producter--joined {
    font-size: var(--fs-xs);
    color: var(--gray-700);
    margin-bottom: 1rem;
}

.profile_producter--detail {
    font-size: var(--fs-xs);
    margin: 1.25rem 0;
}


.profile_producter--actions {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.profile_producter--link {
    text-decoration: none;
}

.profile_producter--action {
    box-shadow: 0 1px 4px var(--black);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
    height: 52px;
    width: 320px;
    background: var(--gray-200);
    border: none;
    padding: 16px;
    border-radius: 0.5rem;
    font-size: var(--fs-xs);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.profile_producter--action:hover {
    background: var(--primary-500);
    color: var(--black);
}

.profile_producter--action ion-icon {
    font-size: var(--fs-sm);

}

.profile__report {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s;
    gap: 16px;
}

.profile__report:target {
    visibility: visible;
    /* opacity: 1;  */
}

.profile__report--phpto-head {
    display: flex;
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-start; */
    flex-direction: column-reverse;
    /* justify-content: space-between;
    align-items: center; */
}

.profile__report--close{
    flex-direction: row-reverse;
    justify-content: baseline;
}

.profile__report--close ion-icon {
    /* position: absolute;
    top: 16px;
    right: 16px; */
    font-size: var(--fs-lg);
    /* color: var(--white); */
    cursor: pointer;
    
}

.profile__report--photo {    
    border-radius: 5px;
    object-fit: cover;
    border: 2px solid var(--primary-950);
    /* border-radius: 100%; */
    padding: 0 16px;
    background-color: var(--gray-50);
    padding-bottom: 16px;
    
}  
.profile__report--img {
    width: 100%;
    height: auto;   
}

.profile__buttons {
    display: flex;    
    padding: 16px;
    justify-content: space-around;
}



@media (min-width: 768px) {   
    /* .profile__report--img {
    width: 50vw;   
} */

    .profile_producter--content {
        flex-direction: row;
        align-items: stretch;
    }
}

@media (max-width: 768px) {
    
    .profile_producter--actions {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

}