.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 16px;
}

/* Bloque principal */
.search {
  display: flex;
  align-items: center;
  /* height: 48px; */
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* width: 320px; */
  overflow: hidden;
}

/* Input */
.search__input {
  flex: 1;
  padding: 16px;
  border: none;
  font-size: var(--fs-xs);
  font-family: var(--main-font);
  color: var(--gray-900);
  outline: none;
  width: 320px;
  height: 48px;
}

.search__input::placeholder {
  color: var(--gray-500);
}

/* Botón */
.search__button {
  width: 48px;
  height: 48px;
  background-color: var(--primary-600);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.search__button:hover {
  background-color: var(--primary-700);
  transform: scale(1.05);
}

.search__button-icon {
  color: var(--white);
  font-size: 32px;
}

/* Categorías */
.search__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search__category {
  background-color: var(--white);
  border: 1px solid var(--primary-600);
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-900);
  cursor: pointer;
  transition: all 0.3s ease;
}

.search__category:hover {
  background-color: var(--primary-200);
  color: var(--black);
  font-weight: 500;
  transform: translateY(-2px);
}

/* Responsividad */
@media (max-width: 768px) {
  .search-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .search {
    width: 320px;
  }

  .search__categories {
    justify-content: center;
  }
}
