.welcome__msj {
    visibility: visible;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.4s;
    gap: 16px;
}

.welcome__msj:target {
    visibility: hidden;
    /* opacity: 1;  */
}

.welcome__msj--conatainer{
    flex: 0.9;
    width: 500px;
    height: 300px;
    margin: 8px;
    padding: 8px;
    background-color: var(--white);
    background-image: linear-gradient(rgba(233, 221, 221, 0.5), rgba(241, 237, 237, 0.5)) ,url(/frontend/public/assets/vanagro/vendefruta.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__head{
    display: flex;
    padding: 16px;
    width: 80%;
    gap: 24px;
}
.welcome__photo{
    width: 300px;
    height: 200px;    
    background-image: url(/frontend/public/assets/vanagro/vendefruta.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.welcome__leyenda{
    width: 300px;
}
