{% extends 'carrito/ver_carrito.html' %}
{% comment %}detalle del pedido del usuario herencia de la plantilla base{% endcomment %}
{% load humanize %}
{% load static %}
{% comment %}inicio del bloque de contenido{% endcomment %}

{% block script %}
<script src="{% static 'js/alertas/modal_informe.js' %}" defer></script>
  
{% endblock script %}

{% block carrito %}
<div class="container-pedidos">
    {% comment %}card{% endcomment %}
    <div class="card-compra detalle-card">
        <div class="pedido-titulo_tabla">
            {% comment %} Muestra el numero del pedido {% endcomment %}
            <h3>Detalle del Pedido #{{ pedido.id }}</h3>
            <span class="">
                {% comment %} se muestra el estado del pedido {% endcomment %}
                {{ pedido.estado }}
            </span>
        </div>
        {% comment %} muestra la fecha del pedido. en formato dia/mes/año con hora y minuto {% endcomment %}
        <p><strong>Fecha:</strong> {{ pedido.fecha|date:"d/m/Y H:i" }}</p>
        <h5 class="pedido-subtitulo">Productos</h5>
        <div class="pedidos-tabla">
        <table class="user-list__table">
            <thead class="tabla-pedidos_head">
                <tr class="user-list__row">
                    <th class="user-list__cell">Producto</th>
                    <th class="user-list__cell">Cantidad</th>
                    <th class="user-list__cell">Precio unitario</th>
                    <th class="user-list__cell">Subtotal</th>
                    <th class="user-list__cell">Estado</th>
                </tr>
            </thead>
            <tbody class="user-list__table-body">
                {% comment %} ciclo para recorrer los productos del pedido {% endcomment %}
                {% for detalle in pedido.detalles.all %}
                    <tr class="user-list__row">
                        {% comment %} se muestra el detalle de cada producto: nombre, cantidad, precio, total {% endcomment %}
                        <td class="user-list__cell">{{ detalle.producto.nombre_producto }}</td>
                        <td class="user-list__cell">{{ detalle.cantidad }}</td>
                        <td class="user-list__cell">$ {{ detalle.precio|floatformat:0|intcomma }}</td>
                        {% comment %} subtotal -> llama al metodo del modelo {% endcomment %}
                        <td class="user-list__cell">$ {{ detalle.subtotal|floatformat:0|intcomma }}</td>
                        <td class="user-list__cell">
                            {% if detalle.despachado %}
                                {% comment %} Si es True, mostramos que ya se envió {% endcomment %}
                                <span class="badge bg-success">
                                    <i class="fas fa-check"></i> Producto Despachado
                                </span>
                            {% else %}
                                {% comment %} Si es False, indicamos que está pendiente {% endcomment %}
                                <span class="badge bg-warning text-dark">
                                    <i class="fas fa-clock"></i> Pendiente de Envío
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% comment %} muestra el total del pedido {% endcomment %}
        <p class="pedido-total"><strong>Total:</strong> ${{ pedido.total|floatformat:0|intcomma }}</p>

        <div class="buttons">
        <button class="buttons__action--secondary">
            <a href="{% url 'mis_pedidos' %}" class="btn btn-outline-secondary"> ← Volver a mis pedidos </a>
        </button>
        <button type="button" class="buttons__action--primary btn-informe" onclick="abrirModal()">Visualizar factura/PDF</button>
        </div>
    </div>

</div>

{% comment %} modal de factura pdf  {% endcomment %}
<div id="modalResumen" class="modal-fondo">
    <div class="modal-contenido">
        {% comment %} boton de x para cerrar {% endcomment %}
        <div class="modal-cabecera">
            <span class="cerrar" onclick="cerrarModal()">&times;</span>
            <h2>Factura de venta</h2>
        </div>
        
        <div class="modal-cuerpo">
            <div id="areaImpresion" class="">
                <div class="encabezado-pdf">
                    <img src="{% static 'img/interfaz_vanagro/vanagro_logo2.jpeg' %}" class="logo-tienda" alt="Logo">
                    <div class="datos-tienda">
                        <h1>Factura de Ventas # {{ pedido.id }} </h1>
                        <p>Nombre CLiente: {{ request.user.first_name }} {{ request.user.last_name }}</p>
                        <p>Fecha de compra: {{ pedido.fecha|date:"d/m/Y H:i" }}</p>
                    </div>
                </div>

                <table class="tabla-pdf">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cant. Total</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pedido.detalles.all %}
                        <tr>
                            <td>{{ item.producto.nombre_producto }}</td>
                            <td>{{ item.cantidad }}</td>
                            <td>${{ item.subtotal|floatformat:0|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="total-pdf" >
                        <tr class="user-list__row">
                        <td class="user-list__cell" colspan="2" ><strong>TOTAL:</strong></td>
                        <td class="user-list__cell"><strong>${{ pedido.total|floatformat:0|intcomma }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
                {% comment %} <div class="total-pdf">
                    <p><strong>TOTAL: ${{ total_general }}</strong></p>
                </div> {% endcomment %}
            </div>
        </div>

        <div class="modal-pie">
            <button onclick="cerrarModal()" class="buttons__action--secondary btn-secundario">Cerrar</button>
            <button onclick="window.print()" class="buttons__action--primary btn-primario">Imprimir / Guardar PDF</button>
        </div>
    </div>
</div>


{% endblock carrito %}