{% comment %}detalle del pedido del usuario{% endcomment %}
{% comment %}Herencia de la plantilla base{% endcomment %}
{% extends 'carrito/ver_carrito.html' %}
{% load humanize %}
{% load static %}
{% comment %}inicio del bloque de contenido{% endcomment %}
{% block carrito %}
<div class="container-pedidos">
    {% comment %}card{% endcomment %}
    <div class="card-compra detalle-card">
        <div class="pedido-titulo_tabla">
            {% comment %} Muestra el numero del pedido {% endcomment %}
            <h3>Detalle del Pedido #{{ pedido.id }}</h3>
            <span class="">
                {% comment %} se muestra el estado del pedido {% endcomment %}
                {{ pedido.estado }}
            </span>
        </div>
        {% comment %} muestra la fecha del pedido. en formato dia/mes/año con hora y minuto {% endcomment %}
        <p><strong>Fecha:</strong> {{ pedido.fecha|date:"d/m/Y H:i" }}</p>
        <h5 class="pedido-subtitulo">Productos</h5>
        <div class="pedidos-tabla">
        <table class="user-list__table">
            <thead class="tabla-pedidos_head">
                <tr class="user-list__row">
                    <th class="user-list__cell">Producto</th>
                    <th class="user-list__cell">Cantidad</th>
                    <th class="user-list__cell">Precio unitario</th>
                    <th class="user-list__cell">Subtotal</th>
                    <th class="user-list__cell">Estado</th>
                </tr>
            </thead>
            <tbody class="user-list__table-body">
                {% comment %} ciclo para recorrer los productos del pedido {% endcomment %}
                {% for detalle in pedido.detalles.all %}
                    <tr class="user-list__row">
                        {% comment %} se muestra el detalle de cada producto: nombre, cantidad, precio, total {% endcomment %}
                        <td class="user-list__cell">{{ detalle.producto.nombre_producto }}</td>
                        <td class="user-list__cell">{{ detalle.cantidad }}</td>
                        <td class="user-list__cell">$ {{ detalle.precio|floatformat:0|intcomma }}</td>
                        {% comment %} subtotal -> llama al metodo del modelo {% endcomment %}
                        <td class="user-list__cell">$ {{ detalle.subtotal|floatformat:0|intcomma }}</td>
                        <td class="user-list__cell">
                            {% if detalle.despachado %}
                                {% comment %} Si es True, mostramos que ya se envió {% endcomment %}
                                <span class="badge bg-success">
                                    <i class="fas fa-check"></i> Producto Despachado
                                </span>
                            {% else %}
                                {% comment %} Si es False, indicamos que está pendiente {% endcomment %}
                                <span class="badge bg-warning text-dark">
                                    <i class="fas fa-clock"></i> Pendiente de Envío
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% comment %} muestra el total del pedido {% endcomment %}
        <p class="pedido-total"><strong>Total:</strong> ${{ pedido.total|floatformat:0|intcomma }}</p>

        <button class="buttons__action--secondary">
            <a href="{% url 'mis_pedidos' %}" class="btn btn-outline-secondary"> ← Volver a mis pedidos </a>
        </button>

    </div>

</div>

{% endblock carrito %}