{% extends 'carrito/ver_carrito.html' %}
{% comment %} Herencia de la plantilla base {% endcomment %}

{% load humanize %}
{% load static %}

{% comment %} Inicio del bloque de contenido {% endcomment %}
{% block carrito %}

<div class="pedido-exito__container">
    {% comment %} Card Principal {% endcomment %}
    <div class="card-exito__compra">

        <h2 class="pedido-exito__titulo">
            ✅ ¡Compra realizada con éxito!
        </h2>

        {% comment %} datos del pedido: número, fecha y total pagado {% endcomment %}
        {% comment %} pedido (es una variable) viene de la vista {% endcomment %}
        <p><strong>Número de pedido:</strong> {{ pedido.id }}</p>
        <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
        
        <h5 class="pedido-exito__subtitulo">Productos comprados</h5>

        <ul class="pedido-exito__lista">
             {% comment %} se recorre los productos que hacen parte del pedido {% endcomment %}
            {% for detalle in pedido.detalles.all %}
                <li class="pedido-exito_item">
                    <span>
                        {{ detalle.producto.nombre_producto }} x {{ detalle.cantidad }}
                    </span>
                    <span>
                         {% comment %} se llama al metodo subtotal que esta en el modelo {% endcomment %}
                        $ {{ detalle.subtotal|floatformat:0|intcomma }}
                    </span>
                </li>
            {% endfor %}
        </ul>

        <p class="pedido-exito__total"><strong>Total pagado:</strong> $ {{ pedido.total|floatformat:0|intcomma }}</p>


        <div class="buttons">
            <a href="{% url 'ver_productos' %}" class="buttons__exito--secondary">
                Seguir comprando
            </a>
            <a href="{% url 'mis_pedidos' %}" class="buttons__exito--primary">
                Ver mis pedidos
            </a>
        </div>

    </div>

</div>
{% comment %} Fin del bloque de contenido {% endcomment %}
{% endblock carrito %}