<!-- Herencia de la plantilla base -->
{% extends 'carrito/ver_carrito.html' %}

{% load humanize %}
{% load static %}

<!-- Inicio del bloque de contenido -->
{% block carrito %}

<div class="pedido-container">
    <!-- Card Principal -->
    <div class="card-compra">

        <h2 class="pedido-titulo">
            ✅ ¡Compra realizada con éxito!
        </h2>

        <!-- datos del pedido: número, fecha y total pagado -->
        <!-- pedido (es una variable) viene de la vista -->
        <p><strong>Número de pedido:</strong> {{ pedido.id }}</p>
        <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
        
        <h5 class="pedido-subtitulo">Productos comprados</h5>

        <ul class="pedido-lista">
             <!-- se recorre los productos que hacen parte del pedido -->
            {% for detalle in pedido.detalles.all %}
                <li class="pedido-lista_item">
                    <span>
                        {{ detalle.producto.nombre_producto }} x {{ detalle.cantidad }}
                    </span>
                    <span>
                         <!-- se llama al metodo subtotal que esta en el modelo -->
                        $ {{ detalle.subtotal|floatformat:0|intcomma }}
                    </span>
                </li>
            {% endfor %}
        </ul>

        <p class="pedido-total"><strong>Total pagado:</strong> $ {{ pedido.total|floatformat:0|intcomma }}</p>

        <div class="buttons">
            <button class="buttons__action--secondary">
            <a href="{% url 'ver_productos' %}" >
                Seguir comprando
            </a>
            </button>
            <button class="buttons__action--primary">
            <a href="{% url 'mis_pedidos' %}" >
                Ver mis pedidos
            </a>
            </button>
        </div>

    </div>

</div>
<!-- Fin del bloque de contenido -->
{% endblock carrito %}