/* El archivo layout.css se encarga de definir la estructura base de tu aplicación, como el sistema de grid, flexbox, contenedores, espaciados y alineaciones. Su objetivo es organizar los elementos de la página sin afectar su apariencia visual (colores, tipografías, etc.). */

/* Distribución general (fondo del body, display, flexbox, grid, alturas, anchos, etc.). */

html, body {
    height: 100%;
    margin: 0;
}

html {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;   
    min-height: 100vh;
}

.contenido_general{
    flex: 1;
    background-color: var(--secundary-50);    
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

a,
button,
input[type="button"],
input[type="submit"],
[onclick] {
    cursor: pointer;
}


