{% extends "email_base.html" %}

{% block content %}

<p>Hola <strong>{{ usuario.username }}</strong>,</p>

<p>Su cuenta ha sido creada exitosamente 🎉</p>

<p>Para activar su cuenta, haga clic aquí:</p>

<a href="{{ protocolo }}://{{ dominio }}/activar/{{ uid }}/{{ token }}/">
    Activar cuenta
</a>

<br><br>

<a href="{{ protocolo }}://{{ dominio }}/Inicio/"
style="background: #2e7d32; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">
Iniciar sesión
</a>

{% endblock %}