{% extends 'index_vanagro.html' %}

{% load static %}

{% block navbar %}

{% include 'components/navbar-simple.html' %}

{% endblock navbar %}

{% block contenido %}

<section class="section-password">

<div class="contenedor-reset">

    <h2>Asignar nueva contraseña</h2>

    <form method="post">

        {% csrf_token %}

        <div class="reset-campo">

            <label>Nueva contraseña</label>

            {{ form.new_password1 }}

        </div>

        <div class="reset-campo">

            <label>Confirmar contraseña</label>

            {{ form.new_password2 }}

        </div>

        <button type="submit" class="btn-reset">
            Guardar nueva contraseña
        </button>

    </form>

</div>
</section>

{% endblock contenido %}