{% extends 'index_vanagro.html' %}

{% load static %}

{% block navbar %}

{% include 'components/navbar-simple.html' %}

{% endblock navbar %}

{% block contenido %}

<section class="section-password">

    <div class="contenedor-reset">

        <h2>Contraseña actualizada</h2>

        <p>
            Su contraseña ha sido cambiada correctamente.
        </p>

        <p> 
            Ahora puede iniciar sesión con sus nuevas credenciales.
        </p>
        
        <a href="{% url 'inicio_vista' %}" class="btn-volver">
            Iniciar sesión
        </a>

    </div>
</section>

{% endblock contenido %}