{% extends 'index_vanagro.html' %}

{% load static %}

{% block navbar %}

{% include 'components/navbar-simple.html' %}

{% endblock navbar %}

{% block contenido %}


<section class="section-password">
    <div class="contenedor-reset">

        <h2>Recuperación de contraseña</h2>

        <p>
            Si el correo ingresado existe en nuestro sistema,
            se ha enviado un enlace para restablecer tu contraseña.
        </p>

        <p>
            Revisa tu bandeja de entrada.
        </p>


        <a href="{% url 'inicio_vista' %}" class="btn-volver">
            <strong>Volver al inicio de sesión</strong>
        </a>

    </div>
</section>

{% endblock contenido %}