{% extends 'index_vanagro.html' %}

{% load static %}

{% block navbar %}
{% include 'components/navbar-simple.html' %}
{% endblock navbar %}

{% block contenido %}

<section class="password-reset">
    <div class="password-reset__container">

    <h2 class="password-reset__title">Asignar nueva contraseña</h2>

    {% if validlink %}

    <form method="POST" class="password-reset__form">
        {% csrf_token %}

        <div class="password-reset__field">
            <label class="password-reset__label">Nueva contraseña</label>
            {{ form.new_password1 }}
            <div class="password-reset__error">
                {{ form.new_password1.errors }}
            </div>
        </div>

        <div class="password-reset__field">
            <label class="password-reset__label">Confirmar contraseña</label>
            {{ form.new_password2 }}
            <div class="password-reset__error">
                {{ form.new_password2.errors }}
            </div>
        </div>

        <div class="password-reset__actions">
            <button type="submit" class="buttons__action--primary">
                Guardar nueva contraseña
            </button>
        </div>
    </form>

    {% else %}

    <p class="password-reset__invalid">
        ❌ El enlace no es válido o ha expirado.
    </p>

    {% endif %}

    </div>
</section>

{% endblock contenido %}