{% extends 'index_vanagro.html' %}

{% load static %}

{% block contenido %}
<section class="session-container__beginer">
    <div class="session__login">
        <div class="session__left">
            <div class="session__info">
                <h2 class="session__info-title">Bienvenido a Vanagro</h2>
                <p class="session__info-text">
                    Somos el Mercado Campesino que conecta a productores y consumidores de forma directa,
                    garantizando productos frescos y apoyando al campo colombiano.
                </p>
            </div>
        </div>

        {% comment %}Lado derecho: formulario{% endcomment %}
        <div class="session__form-container">

            {% if request.session.usuario_inactivo %}
            <div class="alert-activation">
                <div class="alert-activation__content">

                    <p class="alert-activation__text">
                        ⚠️ Su cuenta no ha sido activada
                    </p>

                    <form method="post" action="{% url 'reenviar_activacion' %}">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{ request.session.usuario_inactivo }}">

                        <button type="submit" class="alert-activation__btn">
                            Reenviar correo de activación
                        </button>
                    </form>

                </div>
            </div>
            {% endif %}

            <!-- EL FORM DEBE IR DENTRO -->
            <form class="beginner-form" method="POST">

                <h2 class="session__subtitle">Iniciar Sesión</h2>
                {% csrf_token %}

                <div class="beginner-form__credential">

                    <div class="beginner-form__info">
                        <label class="beginner-form__label">*Usuario / Correo electrónico</label>
                        <input name="username" class="beginner-form__input" type="text"
                            placeholder="Ingrese su usuario / correo electrónico" required>
                    </div>

                    <div class="beginner-form__info">
                        <label class="beginner-form__label">*Contraseña</label>
                        <input name="password" class="beginner-form__input" type="password"
                            placeholder="Ingrese su contraseña" required>
                    </div>

                </div>

                <a class="begin-lost_password recovery" href="#forget__block" id="abrirRecuperar">
                    ¿Olvidó la contraseña?
                </a>

                <div class="buttons">
                    <a href="{% url 'registro_usuario' %}" onclick="navegarConMensaje(event)">
                        <button type="button" class="buttons__action--secondary">
                            Crear Cuenta
                        </button>
                    </a>

                    <button class="buttons__action--primary session-alert" type="submit">
                        Iniciar Sesión
                    </button>
                </div>

            </form>

        </div>
    

    <div id="modalRecuperar" class="modal-recuperacion">

        <div class="modal-recuperacion__contenido">

            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}

                <!-- HEADER -->
                <div class="modal-recuperacion__header">
                    <div class="modal-recuperacion__icon">
                    <i class="fas fa-key"></i>
                    </div>

                    <h3 class="modal-recuperacion__title">
                    Recuperar contraseña
                    </h3>

                    <p class="modal-recuperacion__text">
                    Ingrese su correo electrónico y le enviaremos un enlace para restablecerla.
                    </p>
                </div>

                <!-- INPUT -->
                <div class="modal-recuperacion__input-group">
                    <label class="modal-recuperacion__label">
                    *Correo electrónico
                    </label>

                    <input 
                    type="email" 
                    name="email"
                    class="modal-recuperacion__input"
                    placeholder="ejemplo@correo.com"
                    required
                    >
                </div>

                <!-- BOTONES -->
                <div class="modal-recuperacion__actions">

                    <button 
                    type="button" 
                    id="cerrarModal" 
                    class="modal-recuperacion__btn modal-recuperacion__btn--secondary">
                    Cancelar
                    </button>

                    <button 
                    type="submit" 
                    class="modal-recuperacion__btn modal-recuperacion__btn--primary">
                    Enviar enlace
                    </button>

                </div>

            </form>

        </div>

    </div>

</section>
{% endblock %}
