{% extends 'index_vanagro.html' %}

{% load static %}


{% block contenido %}

<section class="cards-section">
    <div class="cards-container">

        {% for card in cards %}
        
        <div class="card">
            <!-- Este bloque se rellena directamente con datos de las cards -->
            <h2 class="card__title-about">{{ card.title }}</h2>
            <p class="card__description">{{ card.description|safe }}</p>
            <div>
                <img src="{% static card.img %}" alt="[Imagen]" class="card__img">
            </div>
        </div>

        {% endfor %}
    </div>
</section>


{% endblock contenido %}