{% load static %}

<h3 class="admin-cards__title">Bienvenido al panel de administración</h3>
<div class="admin-cards">


    <a href="{% url 'ver_productos' %}?next={{ request.path }}" class="admin-cards__card">
        <ion-icon name="eye-outline" class="admin-cards__icon"></ion-icon>
        <span class="admin-cards__name">Ver Productos</span>
    </a>

    <a href="{% url 'mis_pedidos' %}?next={{ request.path }}" class="admin-cards__card">
        <ion-icon name="bag-add-outline" class="admin-cards__icon"></ion-icon>
        <span class="admin-cards__name">Pedidos</span>
    </a>

    <a href="{% url 'lista_usuarios' %}?next={{ request.path }}" class="admin-cards__card">
        <ion-icon name="people-outline" class="admin-cards__icon"></ion-icon>
        <span class="admin-cards__name">Usuarios</span>
    </a>

    <a href="{% url 'mis_productos' %}?next={{ request.path }}" class="admin-cards__card">
        <ion-icon name="calendar-outline" class="admin-cards__icon"></ion-icon>
        <span class="admin-cards__name">Productos</span>
    </a>

    <a href="{% url 'mensajes_admin' %}?next={{ request.path }}" class="admin-cards__card">
        <ion-icon name="list-outline" class="admin-cards__icon"></ion-icon>
        <span class="admin-cards__name">Mensajes</span>
    </a>

</div>