{% extends "usuario/login.html" %}

{% load static %}


{% block navbar %}

{% include 'components/navbar-simple_inicio.html' %}

{% endblock navbar %}

{% block script %}
<script src="{% static 'js/campo_identificacion.js' %}" defer></script>
<script src="{% static 'js/departamento_municipio.js' %}" defer></script>
{% endblock script %}

{% block login %}

<div class="form-register__head">
    <p><strong>Editar Usuario</strong></p>
</div>

<section class="form-register__block">
    <div class="form-register__block--form">

        <form method="POST" class="form-register__form" enctype="multipart/form-data" id="form-edit__user" >
            {% csrf_token %}

            <div class="form-register__group">
                <label class="form-register__label">Nombres
                    <input class="form-register__input" type="text" name="first_name"
                        value="{{ user_form.instance.first_name|default_if_none:'' }}" required>
                </label>
                <label class="form-register__label">Apellidos
                    <input class="form-register__input" type="text" name="last_name"
                        value="{{ user_form.instance.last_name|default_if_none:'' }}" required>
                </label>

                <div class="form-register__images">
                    
                    {% if perfil_form.instance.fotografia %}
                        <img src="{{ perfil_form.instance.fotografia.url }}" width="120">
                    {% endif %}

                    <label class="form-register__label">Cargar foto de perfil
                        <input class="form-register__file" type="file" name="fotografia">
                    </label>
                </div>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Tipo de documento
                    <select class="form-register__input" name="tipo_identificacion" id="tipo_id" required>
                        <option value="">Seleccione un tipo de documento</option>
                        {% for tipo in perfil_form.tipo_identificacion.field.queryset %}
                        <option value="{{ tipo.id }}" {% if tipo.id == perfil_form.tipo_identificacion.value %} selected {% endif %} >{{ tipo.tipo_identificacion }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label class="form-register__label">Número de identificación
                    <input class="form-register__input" type="text" name="numero_identificacion"
                        value="{{ perfil_form.instance.numero_identificacion|default_if_none:'' }}" id="number_id" required>
                </label>
                <label class="form-register__label">Fecha de nacimiento
                    <input class="form-register__input" type="date" name="fecha_nacimiento"
                        value="{{ perfil_form.instance.fecha_nacimiento|date:'Y-m-d' }}" id="fecha_nacimiento" required>
                </label>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Departamento
                    <select id="departamento" name="departamento" class="form-register__input" required>
                        <option value="">Seleccione un departamento</option>
                        {% for dpto in perfil_form.departamento.field.queryset %}
                        <option value="{{ dpto.id }}" {% if dpto.id == perfil_form.departamento.value %} selected 
                {% endif %}>{{ dpto.nombre_Departamento }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label class="form-register__label">Municipio
                    <select id="municipio" data-guardado="{{ perfil_form.instance.municipio.id }}" class="form-register__input" name="municipio" required>
                        <option value="">Seleccione un municipio</option>
                        {% for mcpio in perfil_form.municipio.field.queryset %}
                        <option value="{{ mcpio.id }}" {% if mcpio.id == perfil_form.municipio.value %} selected {% endif %} >{{ mcpio.nombre_Municipio }}</option>
                        {% endfor %}
                    </select>
                </label>
                
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Dirección
                    <input class="form-register__input" type="text" name="direccion_residencia"
                        value="{{ perfil_form.instance.direccion_residencia|default_if_none:'' }}" required>
                </label>
                <label class="form-register__label">Correo Electrónico
                    <input class="form-register__input" type="email" name="email" value="{{ user_form.instance.email|default_if_none:'' }}"
                        required>
                </label>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Teléfono
                    <input class="form-register__input" type="tel" name="telefono_1"
                        value="{{ perfil_form.instance.telefono_1|default_if_none:'' }}" required>
                </label>
                <label class="form-register__label">Teléfono Alterno
                    <input class="form-register__input" type="tel" name="telefono_2"
                        value="{{ perfil_form.instance.telefono_2|default_if_none:'' }}">
                </label>

                <label class="form-register__label">Nombre de Usuario
                    <input class="form-register__input" type="text" name="username"
                        value="{{ user_form.instance.username|default_if_none:'' }}" required>
                </label>
            </div>


                {% comment %}
                <label class="form-register__label">Contraseña
                    <input class="form-register__input" type="password" name="password1"
                        placeholder="Ingrese una contraseña" required>
                </label>
                <label class="form-register__label">Confirmar contraseña
                    <input class="form-register__input" type="password" name="password2"
                        placeholder="Confirme su contraseña" required>
                </label>
            </div>
            {% endcomment %}


    </div>

    <div class="buttons popup-buttons"> 
        <button type="button" class="buttons__action--secondary btn-cancel btn-confirmar"
            data-url="{% url 'sesion_inicio' %}" 
            data-titulo="¿Salir?" 
            data-mensaje="Se perderán los cambios.">Cancelar
        </button>

        <button type="button" class="buttons__action--primary btn-save btn-confirmar" 
            data-form="form-edit__user" 
            data-titulo="💾 Guardar" 
            data-mensaje="¿Desea guardar los cambios realizados?">Guardar Usuario
        </button>   
        
    </div>
    </form>

</section>



{% endblock login %}