{% extends "usuario/login.html" %}

{% load static %}

{% block navbar %}
    {% include 'components/navbar-simple_inicio.html' %}
{% endblock navbar %}

{% block script %}
    <script src="{% static 'js/campo_identificacion.js' %}" defer></script>
    <script src="{% static 'js/departamento_municipio.js' %}" defer></script>
{% endblock script %}

{% block login %}

<section class="form-register__block">
    <div class="form-register__head">
        <h1 class="form-register__title">Editar usuario</h1>
        <p class="form-register__subtitle">
            Actualice la información de su perfil. El documento, el correo electrónico y el nombre de usuario no pueden modificarse.
        </p>
    </div>
    <div class="form-register__block--form">
        <form method="POST" class="form-register__form" enctype="multipart/form-data" id="form-edit__user">
            {% csrf_token %}
            {% comment %} <div class="form-register__group"> {% endcomment %}
                <div class="form-register__images">
                    <img 
                        class="form-register__images--img"
                        src="{% if perfil_form.instance.fotografia %}
                        {{ perfil_form.instance.fotografia.url }}
                        {% else %}
                        {% static 'img/interfaz_vanagro/usuario_default.png' %}
                        {% endif %}"
                        alt="Foto del usuario"
                        onerror="this.onerror=null;
                        this.src='{% static 'img/interfaz_vanagro/usuario_default.png' %}';"/>                                
                </div>
            {% comment %} </div> {% endcomment %}

            <div class="form-register__group">
                <label class="form-register__label">Nombres
                    <input
                        class="form-register__input"
                        type="text"
                        name="first_name"
                        value="{{ user_form.instance.first_name|default_if_none:'' }}"
                        placeholder="Ingrese sus nombres"
                        required>
                </label>

                <label class="form-register__label">Apellidos
                    <input
                        class="form-register__input"
                        type="text"
                        name="last_name"
                        value="{{ user_form.instance.last_name|default_if_none:'' }}"
                        placeholder="Ingrese sus apellidos"
                        required>
                </label> 
                <label class="form-register__label">Foto de perfil
                        <input
                            class="form-register__file"
                            type="file"
                            name="fotografia">
                </label>
                
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Tipo de documento
                    {% if user.is_superuser %}
                    <select
                        class="form-register__input"
                        name="tipo_identificacion"
                        id="tipo_id">
                        <option value="">Seleccione un tipo de documento</option>
                        {% for tipo in perfil_form.tipo_identificacion.field.queryset %}
                            <option
                                value="{{ tipo.id }}"
                                {% if tipo.id|stringformat:"s" == perfil_form.tipo_identificacion.value|stringformat:"s" %}selected{% endif %}>{{ tipo.tipo_identificacion }}
                            </option>
                        {% endfor %}
                    </select>
                    {% else %}

                    <input
                        class="form-register__input"
                        type="text"
                        value="{{ perfil_form.instance.tipo_identificacion.tipo_identificacion }}"
                        readonly>

                    <input
                        type="hidden"
                        name="tipo_identificacion"
                        value="{{ perfil_form.tipo_identificacion.value }}">

                    {% endif %}
                </label>

                <label class="form-register__label">Número de documento
                    <input
                        class="form-register__input"
                        type="text"
                        name="numero_identificacion"
                        id="number_id"
                        value="{{ perfil_form.numero_identificacion.value|default_if_none:'' }}"
                        placeholder="Número de documento registrado"
                        {% if not user.is_superuser %} readonly {% endif %}>
                </label>

                <label class="form-register__label">Fecha de nacimiento
                    <input
                        class="form-register__input"
                        type="date"
                        name="fecha_nacimiento"
                        id="fecha_nacimiento"
                        value="{{ perfil_form.instance.fecha_nacimiento|date:'Y-m-d' }}"
                        required>
                </label>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Departamento
                    <select
                        id="departamento"
                        name="departamento"
                        class="form-register__input"
                        required
                        data-guardado="{{ perfil_form.departamento.value|default:perfil_form.instance.departamento_id|default:'' }}">
                        <option value="">Seleccione un departamento</option>
                        {% for dpto in perfil_form.departamento.field.queryset %}
                            <option
                                value="{{ dpto.id }}"
                                {% if dpto.id|stringformat:"s" == perfil_form.departamento.value|stringformat:"s" %}selected{% endif %}>
                                {{ dpto.nombre_Departamento }}
                            </option>
                        {% endfor %}
                    </select>
                </label>

                <label class="form-register__label">Municipio
                    <select
                        id="municipio"
                        name="municipio"
                        class="form-register__input"
                        required
                        data-guardado="{{ perfil_form.municipio.value|default:perfil_form.instance.municipio_id|default:'' }}">
                        <option value="">Seleccione un municipio</option>
                        {% for mcpio in perfil_form.municipio.field.queryset %}
                            <option
                                value="{{ mcpio.id }}"
                                {% if mcpio.id|stringformat:"s" == perfil_form.municipio.value|stringformat:"s" %}selected{% endif %}>
                                {{ mcpio.nombre_Municipio }}
                            </option>
                        {% endfor %}
                    </select>
                </label>

                <label class="form-register__label">Dirección de residencia
                    <input
                        class="form-register__input"
                        type="text"
                        name="direccion_residencia"
                        value="{{ perfil_form.instance.direccion_residencia|default_if_none:'' }}"
                        placeholder="Ingrese su dirección de residencia"
                        required>
                </label>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Correo electrónico
                    <input
                        class="form-register__input"
                        type="email"
                        name="email"
                        value="{{ user_form.instance.email|default_if_none:'' }}"
                        placeholder="Correo electrónico registrado"
                        {% if not user.is_superuser %} readonly {% endif %}>
                </label>

                <label class="form-register__label">Teléfono
                    <input
                        class="form-register__input"
                        type="tel"
                        name="telefono_1"
                        value="{{ perfil_form.instance.telefono_1|default_if_none:'' }}"
                        placeholder="Ingrese su número de teléfono"
                        required>
                </label>

                <label class="form-register__label">Teléfono alterno
                    <input
                        class="form-register__input"
                        type="tel"
                        name="telefono_2"
                        value="{{ perfil_form.instance.telefono_2|default_if_none:'' }}"
                        placeholder="Ingrese un número de teléfono alterno">
                </label>
            </div>

            <div class="form-register__group">
                <label class="form-register__label">Nombre de usuario
                    <input
                        class="form-register__input"
                        type="text"
                        name="username"
                        value="{{ user_form.username.value|default_if_none:'' }}"
                        placeholder="Nombre de usuario registrado"
                        {% comment %}
                        {% if not user.is_superuser %} readonly {% endif %} 
                        {% endcomment %}
                        required>

                </label>
            </div>

            <div class="buttons popup-buttons">
                <button
                    type="button"
                    class="buttons__action--secondary btn-cancel btn-confirmar"
                    {% if user.is_superuser %}
                        data-url="{% url 'lista_usuarios' %}"
                    {% else %}
                        data-url="{% url 'sesion_inicio' %}"
                    {% endif %}
                    data-titulo="Cancelar edición"
                    data-mensaje="¿Desea salir? Se perderán los cambios realizados.">
                    Cancelar
                </button>

                <button
                    type="submit"
                    class="buttons__action--primary btn-save btn-confirmar"
                    data-form="form-edit__user"
                    data-titulo="Guardar cambios"
                    data-mensaje="¿Desea guardar los cambios realizados?">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>
</section>

{% endblock login %}