{% extends "usuario/login.html" %}

{% load static %}

{% block script %}
<script src="{% static 'js/modal_actualizar_img.js' %}" defer></script>
{% endblock script %}

{% block navbar %}
{% include 'components/navbar-simple_inicio.html' %} 
{% endblock navbar %}

{% block login %}

<div class="user-list">
  <h2 class="user-list__title">Lista de usuarios</h2>

  <div class="user-list__table-container">

    <table class="user-list__table">
      <thead class="user-list__table-head">
        <tr class="user-list__row user-list__row--head">
          <th class="user-list__cell">ID</th>
          <th class="user-list__cell">Usuario</th>
          <th class="user-list__cell">Imagen</th>
          <th class="user-list__cell">Nombre Completo</th>
          <th colspan="2" class="user-list__cell">Acciones usuario</th>
          <th class="user-list__cell">¿Es productor?</th>
          <th class="user-list__cell">Nombre finca</th>
          <th class="user-list__cell" colspan="2">Acciones finca</th>
        </tr>
      </thead>

      <tbody class="user-list__table-body" id="user-table-body">
        {% for usuario in usuarios %}
        <tr class="user-list__row"> 

          <td class="user-list__cell" data-label="ID">
            {{ usuario.user.id }}
          </td>

          <td class="user-list__cell" data-label="Usuario">
            {{ usuario.user.username }}
          </td>

          <td class="user-list__cell" data-label="Imagen">
            {% if usuario.fotografia %}
              <img src="{{ usuario.fotografia.url }}" alt="{{ usuario.name }}" class="user-list__image">
            {% else %}
              <img src="{% static 'img/products/sin_foto_2.jpg' %}" alt="{{ usuario.name }}" class="user-list__image">
            {% endif %}
          </td>

          <td class="user-list__cell" data-label="Nombre Completo">
            {{ usuario.user.first_name }} {{ usuario.user.last_name }}
          </td>

          <!-- ACCIÓN USUARIO -->
          <td class="user-list__cell user-list__cell--actions" data-label="Estado usuario">
            <form method="post" action="{% url 'accion_usuario' usuario.user.id %}">            
              {% csrf_token %}
              <input type="hidden" name="tipo" value="usuario">
              <input type="hidden" name="next" value="{{ request.path }}">

              {% if usuario.user.is_active %}
                <button type="submit" class="user-list__action-btn user-list__action-btn--disable">
                  Desactivar
                </button>
              {% else %}
                <button type="submit" class="user-list__action-btn user-list__action-btn--enable">
                  Activar
                </button>
              {% endif %}
            </form>
          </td>

          <!-- EDITAR USUARIO -->
          <td class="user-list__cell user-list__cell--actions" data-label="Editar usuario">
            <a href="{% url 'editar_usuario' usuario.id %}?next={{ request.path }}">
              <button type="button" class="user-list__action-btn user-list__action-btn--edit">
                Editar
              </button>
            </a>
          </td>

          <!-- ES PRODUCTOR -->
          <td class="user-list__cell" data-label="¿Productor?">
            {% if usuario.es_productor %}
              <span style="color: green;">✔ Sí</span>
            {% else %}
              <span style="color: red;">✖ No</span>
            {% endif %}
          </td>

          <!-- NOMBRE TIENDA -->
          <td class="user-list__cell" data-label="Finca">
            {{ usuario.user.productor.nombre_finca }}
          </td>

          {% if usuario.es_productor %}

          <!-- EDITAR TIENDA -->
          <td class="user-list__cell user-list__cell--actions" data-label="Editar finca">          
            <a href="{% url 'editar_tienda' usuario.user.productor.id %}?next={{ request.path }}"
              class="user-list__action-btn user-list__action-btn--edit">
              Editar finca      
            </a>            
          </td>

          <!-- ESTADO TIENDA -->
          <td class="user-list__cell user-list__cell--actions" data-label="Estado finca">
            <form method="post" action="{% url 'accion_usuario' usuario.user.id %}">              
              {% csrf_token %}
              <input type="hidden" name="tipo" value="productor">
              <input type="hidden" name="next" value="{{ request.path }}">

              {% if usuario.user.productor.activo %}
                <button type="submit" class="user-list__action-btn user-list__action-btn--disable">
                  Desactivar finca
                </button>
              {% else %}
                <button type="submit" class="user-list__action-btn user-list__action-btn--enable">
                  Activar finca
                </button>
              {% endif %}
            </form>           
          </td>

          {% else %}

          <td class="user-list__cell user-list__cell--actions" data-label="Editar finca">
            <button class="user-list__action-btn" disabled>
              Editar
            </button>
          </td>

          <td class="user-list__cell user-list__cell--actions" data-label="Estado finca">
            <button class="user-list__action-btn" disabled>
              Activar
            </button>
          </td>

          {% endif %}

        </tr>

        {% empty %}
        <tr>
          <td colspan="9" class="user-list__cell user-list__empty">
            No se han registrado usuarios.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<!-- MODAL -->
<div id="modalImagen" class="modal-actualizar">
  <div class="modal-actualizar__card">

    <form id="form-change__img" class="modal-actualizar__form" method="POST" enctype="multipart/form-data"
      action="{% url 'actualizar_img' %}">

      {% csrf_token %}

      <input class="modal-actualizar__input" type="hidden" name="usuario_id" id="producto_id">

      <h3>Cambiar imagen</h3>

      <img class="modal-actualizar__img-preview" id="previewImagen">

      <input class="modal-actualizar__input" type="file" name="imagen">

      <h3>¿Desea cambiar la imagen?</h3>

      <div class="modal-actualizar__button-box">
        <button class="modal-actualizar__button modal-button-cerrar" type="button" id="cerrarModal">
          Cancelar
        </button>

        <button type="button" class="buttons__action--primary btn-save btn-confirmar" 
          data-form="form-change__img" 
          data-titulo="Guardar cambios" 
          data-mensaje="¿Confirma el cambio de la imagen?">Guardar cambios

        </button> 
      </div>

    </form>
  </div>
</div>

{% endblock login %}