{% extends "usuario/login.html" %}

{% load static %}

{% block navbar %}
    {% if es_productor %}

        {% include 'components/navbar-tienda.html' %}

    {% else %}

        {% include 'components/navbar-simple_inicio.html' %} 

    {% endif %}
    

{% endblock navbar %}

{% block script %}
  
{% endblock script %}

{% block login %}

    {% if es_productor %}

        {% include 'components/perfil_productor.html' %}

    {% else %}

        {% include 'components/crear_tienda.html' %}      

    {% endif %}

{% endblock login %}