{% extends "usuario/login.html" %}

{% load static %}

{% block navbar %}

    {% include 'components/navbar-tienda.html' %}

{% endblock navbar %}

{% block script %}
  <script src="{% static 'js/modal_mapa.js' %}" defer></script>
  <script src="{% static 'js/render_mapa.js' %}" defer></script>
  <script src="{% static 'js/ubicacion.js' %}" defer></script>
{% endblock script %}

{% block login %}

    {% if es_productor %}

        {% include 'components/perfil_productor.html' %}

    {% else %}

        {% include 'components/crear_tienda.html' %}      

    {% endif %}

{% endblock login %}