{% load humanize %}
{% load static %}

<div class="card-product">

    <h3 class="card-product__title">{{ producto.nombre_producto }}</h3>

    {% if producto.imagen_producto %}
        <img class="card-product__image" src="{{ producto.imagen_producto.url }}" alt="Foto de producto"/>
    {% else %}
        <img class="card-product__image" src="{% static 'img/products/sin_foto_2.jpg' %}" alt="Foto de producto"/>
    {% endif %}
    
    <div class="card-product__info">        
        <p class="card-product__description">{{ producto.descripcion }}</p>
        
        <strong class="card-product__price">
            Precio $ {{ producto.precio|floatformat:0|intcomma }} X {{ producto.unidad_medida }}
        </strong>
    </div>

    <!-- 🔥 BOTONES DENTRO DE LA CARD -->
    <div class="buttons_cards">

        <a href="{% url 'detalle_producto' producto.id %}">
            <button class="buttons__action--secondary">
                Ver detalles
            </button>
        </a>

        {% if user.is_authenticated %}

        <button class="buttons__action--primary agregar-carrito-btn"
            data-id="{{ producto.id }}"
            data-activo="{{ producto.activo|yesno:'true,false' }}" 
            data-stock="{{ producto.stock }}">
            Añadir al carrito
        </button>

        {% else %}

        <a href="{% url 'inicio_vista' %}?next={{ request.path }}">
            <button class="buttons__action--primary">
                Añadir al carrito
            </button>
        </a>

        {% endif %}

    </div>

</div>