{% load static %}


    <div class="details__block">
        <h2>Detalle del producto</h2>
        <div class="details__image">
            {% if producto.imagen_producto %}
                <img class="card-product__image" src="{{ producto.imagen_producto.url }}" alt="Foto de fica"/>
            {% else %}
                <img class="card-product__image" src="{% static 'img/products/sin_foto_2.png' %}" alt="Foto de finca"/>
            {% endif %}
        </div>

        <div class="details__info">
            <h2 class="details__title">{{ producto.nombre_producto}}</h2>
            <div class="details__rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <span class="details__rating-text">(4.0)</span>
            </div>
            <p class="details__price">{{ producto.precio }}</p>

            <p class="details__description">
                <strong>Vendido por:</strong>{{ producto.user.first_name }} {{ producto.user.last_name }} 
                <br>
                <strong>Ubicación:</strong>{{ producto.user.nombre_finca }}
                <br>
                <strong>Método de envío:</strong> Entrega a domicilio en 24-48 horas dentro del área metropolitana o
                retiro en punto de venta.
                <br>
                <strong>Métodos de pago:</strong> Aceptamos pagos en efectivo, transferencia bancaria y tarjetas de
                crédito/débito.
                <br><br>
            </p>

            
        </div>
    </div>
