{% load static %}
<footer class="footer-vanagro">
  <!-- FRANJA VERDE: Información y Redes -->
    <div class="footer-vanagro__content">
        <div class="footer-vanagro__text">
          <p class="footer-vanagro__parafo">© {% now "Y" %} VANAGRO - Todos los derechos reservados</p>
        </div>

        <div class="footer-vanagro__social">
            <!-- Correo Oficial -->
            <a href="mailto:vanagromercadocampesino@gmail.com" class="footer-vanagro__icon">
               <!-- <ion-icon name="mail-outline"></ion-icon> -->
               <i class="fa-regular fa-envelope"></i>
                <span>vanagromercadocampesino@gmail.com</span>
            </a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/vanagro_risaralda/?hl=es" target="_blank" class="footer-vanagro__icon">
                <!-- <ion-icon name="logo-instagram"></ion-icon> -->
                 <i class="fa-brands fa-instagram"></i>
                <span>Vanagro_Risaralda</span>
            </a>
          

            <!-- Facebook -->
            <a href="https://www.facebook.com/share/1HodyzDncN/" target="_blank" class="footer-vanagro__icon">
                <!-- <ion-icon name="logo-facebook"></ion-icon> -->
                 <i class="fa-brands fa-facebook"></i>
                <span>Vanagro Risaralda</span>
            </a>
        </div>
    </div>

    <!-- FRANJA AZUL: Logo Institucional -->
   <div class="logo_gov">
        <a class="image_gov" href="https://www.gov.co/" target="_blank" >
            <img class="image_gov" src="{% static 'img/interfaz_vanagro/govco2.png'%}" alt="pagina del gobierno de Colombia">
        </a>
  </div>
</footer>