{% load static %}
<footer class="footer-vanagro">
  {% comment %} FRANJA VERDE: Información y Redes sociales {% endcomment %}
    <div class="footer-vanagro__content">
        <div class="footer-vanagro__text">
          <p class="footer-vanagro__parafo">© {% now "Y" %} VANAGRO - Todos los derechos reservados</p>
        </div>

        <div class="footer-vanagro__social">
            {% comment %} Correo Oficial {% endcomment %}
            <a href="mailto:vanagromercadocampesino@gmail.com" class="footer-vanagro__icon">
                <i class="fa-regular fa-envelope"></i>
                <span>vanagromercadocampesino@gmail.com</span>
            </a>

            {% comment %} Instagram {% endcomment %}
            <a href="https://www.instagram.com/vanagro_risaralda/?hl=es" target="_blank" class="footer-vanagro__icon">
                <i class="fa-brands fa-instagram"></i>
                <span>Vanagro_Risaralda</span>
            </a>
          
            {% comment %} Facebook {% endcomment %}
            <a href="https://www.facebook.com/share/1HodyzDncN/" target="_blank" class="footer-vanagro__icon">
                <i class="fa-brands fa-facebook"></i>
                <span>Vanagro Risaralda</span>
            </a>
        </div>
    </div>

    {% comment %} FRANJA AZUL: Logo Institucional {% endcomment %}
   <div class="logo_gov">
        <a class="image_gov" href="https://www.gov.co/" target="_blank" >
            <img class="image_gov" src="{% static 'img/interfaz_vanagro/govco2.png'%}" alt="pagina del gobierno de Colombia">
        </a>
  </div>
</footer>