{% load static %}

<header class="header-vanagro">
  <div class="logo_gov">
    <a class="image_gov" href="https://www.gov.co/" target="_blank" >
    <img class="image_gov" src="{% static 'img/interfaz_vanagro/govco2.png'%}" alt="pagina del gobierno de Colombia">
    </a>
  </div>

  <div class="navbar-vanagro__container">
    <div class="navbar-vanagro__begin">
        <h1 class="navbar-vanagro__title">VANAGRO
            <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
        </h1>

        <button class="navbar-vanagro__toggle" id="menuToggle">
            ☰
        </button>
        </div>

    <nav class="navbar-vanagro">
      <ul class="navbar-vanagro__list" id="menuList">
        <li class="navbar-vanagro__item navbar-vanagro__item--cart">
          <a href="{% url 'sesion_inicio' %}" class="navbar-vanagro__link">Regresar</a>
        </li> 
      </ul>
    </nav>

    <div class="navbar-vanagro__icons">
      <div class="navbar-vanagro__icons--second">
        <a href="{{ request.session.volver_a|default:'/' }}">        
          <ion-icon class="navbar-vanagro__icons--back" name="arrow-back-outline"></ion-icon>
        </a>
      </div>
    </div>    
  </div>
  
</header>