{% load static %}

<header class="header-vanagro">
  <div class="logo_gov">
    <a class="image_gov" href="https://www.gov.co/" target="_blank" >
    <img class="image_gov" src="{% static 'img/interfaz_vanagro/govco2.png'%}" alt="pagina del gobierno de Colombia">
    </a>
  </div>

  <div class="navbar-vanagro__container">
    <div class="navbar-vanagro__begin">
        <h1 class="navbar-vanagro__title">VANAGRO
            <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
        </h1>

        <button class="navbar-vanagro__toggle" id="menuToggle">
            ☰
        </button>
        </div>

    <nav class="navbar-vanagro">   
      <ul class="navbar-vanagro__list" id="menuList">
        <li class="navbar-vanagro__item navbar-vanagro__item--cart">
          <a href="{% url 'sesion_inicio' %}" class="navbar-vanagro__link">Inicio</a>
        </li>       
        <li class="navbar-vanagro__item navbar-vanagro__item--cart">
          <a href="{% url 'ver_carrito' %}" class="navbar-vanagro__link">Carrito</a>
          <span class="carrito-contador carrito-badge" {% if carrito_total_items == 0 %} style= "display:none;" {% endif %}>{{ carrito_total_items }}</span>        
        </li>

        <li class="navbar-vanagro__item navbar-vanagro__item--cart">
          <form method="post" action="{% url 'logout' %}" id="logout-form" style="display: none;">
            {% csrf_token %}            
          </form>
          <a class="navbar-vanagro__link-logout" onclick="document.getElementById('logout-form').submit(); return false;">
            <span class="logout-text">Cerrar Sesión</span>
          </a> 
        </li>
      </ul>
    </nav>

    <div class="navbar-vanagro__icons">
      <div class="navbar-vanagro__icons--first">        
        <a href="{% url 'ver_carrito' %}"> 
          <ion-icon class="navbar-vanagro__icons--cart" name="cart-outline"></ion-icon>
        </a>
        <span class="carrito-contador carrito-badge" {% if carrito_total_items == 0 %} style= "display:none;" {% endif %}>{{ carrito_total_items }}</span>
      </div>

      <a href="{% url 'sesion_inicio' %}"> 
        {% if request.user.is_superuser %}
          <img class="navbar-vanagro__profile-img" src="{% static 'img/interfaz_vanagro/avatar1.jpg' %}"alt="Foto del productor" />
        {% else %}      
          {% if request.user.usuario.fotografia %}
            <img class="navbar-vanagro__profile-img" src="{{ request.user.usuario.fotografia.url }}" alt="Foto del productor" />
          {% else %}
            <img class="navbar-vanagro__profile-img" src="{% static 'img/interfaz_vanagro/usuario_default.png' %}"
          alt="Foto del productor" />
          {% endif %}
        {% endif %}
      </a>      

      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">
          <ion-icon class="navbar-vanagro__icons--logout log-out" name="log-out-outline"
            href="{% url 'logout' %}"></ion-icon>
        </button>
      </form>
    </div>
  </div>

  
</header>