{% load static %}

<div class="logo_gov">
    <a class="image_gov" href="https://www.gov.co/" target="_blank" >
    <img class="image_gov" src="{% static 'img/interfaz_vanagro/govco2.png'%}" alt="pagina del gobierno de Colombia">
    </a>
</div>

<header class="header-vanagro">
    <div class="navbar-vanagro__container">
        <div class="navbar-vanagro__begin">
        <h1 class="navbar-vanagro__title">VANAGRO
            <span class="navbar-vanagro__subtitle">Mercado Campesino</span>
        </h1>

        <button class="navbar-vanagro__toggle" id="menuToggle">
            ☰
        </button>
        </div>
        <nav class="navbar-vanagro">
            <ul class="navbar-vanagro__list" id="menuList">
                <li class="navbar-vanagro__item navbar-vanagro__item--sesion2">
                    <a href="{% url 'inicio_vista' %}" class="navbar-vanagro__link">Iniciar Sesión</a>
                </li>
                <li class="navbar-vanagro__item">
                    <a href="{% url 'inicio' %}" class="navbar-vanagro__link">Nosotros</a>
                </li>
                <li class="navbar-vanagro__item">
                    <a href="{% url 'ver_productos' %}" class="navbar-vanagro__link">Productos</a>
                </li>

                <li class="navbar-vanagro__item">
                    <a href="{% url 'contactenos'%}?next={{ request.path }}" class="navbar-vanagro__link">Contacto</a>
                </li>
                <li class="navbar-vanagro__item navbar-vanagro__item--cart">
                    <a href="{% url 'inicio_vista' %}" class="navbar-vanagro__link">Carrito</a>
                </li>
            </ul>
        </nav>

        <div class="navbar-vanagro__icons">
            <div class="navbar-vanagro__icons--first">
                <a href="{% url 'inicio_vista' %}">
                    <ion-icon class="navbar-vanagro__icons--cart" name="cart-outline"></ion-icon>
                </a>
            </div>

            <div class="navbar-vanagro__icons--second">
                <a href="{% url 'inicio_vista' %}">
                    <ion-icon class="navbar-vanagro__icons--login" name="home-outline"></ion-icon>
                </a>
            </div>
        </div> 
    </div> 
</header>

<div class="navbar-overlay" id="overlay"></div>