<div id="popup" class="popup-overlay">   
    <div class="popup-box popup__body">
        <div class="popup__header">
            <i class="fa-solid fa-check popup__icon"></i>
        </div>
        <h3 class="popup__title" id="popup-titulo"></h3>

        <p class="popup__message" id="popup-mensaje"></p>

        <div class="buttons">
            <button class="buttons__action--secondary btn-popup-cerrar" >Cerrar</button>
            
            <button type="button" id="btn-confirmar-accion" class="buttons__action--primary  btn-popup-confirmar">Confirmar</button>
        </div>
        <p class="popup__time"><strong>Por favor espere un momento...</strong></p>

    </div>
</div>